@import "mixins.less";
@font-face {
	font-family: 'Typicons';
	src: url('fonts/typicons-regular-webfont.eot');
	src: url('fonts/typicons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/typicons-regular-webfont.woff') format('woff'), url('fonts/typicons-regular-webfont.ttf') format('truetype'), url('fonts/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.typicn {
	font-family: "Typicons", sans-serif;
	-webkit-font-smoothing: antialiased;
	-o-transform: scale(1);
}

.location:before {
	content: "A";
}

.phone:before {
	content: "B";
}

.home:before {
	content: "C";
}

.camera:before {
	content: "D";
}

.left:before {
	content: "E";
}

.right:before {
	content: "F";
}

.up:before {
	content: "G";
}

.down:before {
	content: "H";
}

.refresh:before {
	content: "I";
}

.sync:before {
	content: "J";
}

.loop:before {
	content: "K";
}

.repeat:before {
	content: "L";
}

.shuffle:before {
	content: "M";
}

.rss:before {
	content: "N";
}

.cog:before {
	content: "O";
}

.spanner:before {
	content: "P";
}

.barChart:before {
	content: "Q";
}

.pieChart:before {
	content: "R";
}

.lineChart:before {
	content: "S";
}

.views:before {
	content: "T";
}

.zoomIn:before {
	content: "V";
}

.zoomOut:before {
	content: "U";
}

.export:before {
	content: "W";
}

.user:before {
	content: "X";
}

.group:before {
	content: "Y";
}

.microphone:before {
	content: "Z";
}

.globe:before {
	content: "a";
}

.thumbsUp:before {
	content: "b";
}

.thumbsDown:before {
	content: "c";
}

.tag:before {
	content: "d";
}

.tab:before {
	content: "e";
}

.warning:before {
	content: "f";
}

.tick:before {
	content: "g";
}

.beta:before {
	content: "h";
}

.unlock:before {
	content: "i";
}

.lock:before {
	content: "j";
}

.eject:before {
	content: "k";
}

.move:before {
	content: "l";
}

.expand:before {
	content: "m";
}

.cancel:before {
	content: "n";
}

.power:before {
	content: "o";
}

.compass:before {
	content: "p";
}

.radar:before {
	content: "q";
}

.directions:before {
	content: "r";
}

.pin:before {
	content: "s";
}

.mute:before {
	content: "t";
}

.volume:before {
	content: "u";
}

.world:before {
	content: "v";
}

.write:before {
	content: "w";
}

.minus:before {
	content: "x";
}

.equals:before {
	content: "y";
}

.feed:before {
	content: "z";
}

.batteryNone:before {
	content: "0";
}

.batteryLow:before {
	content: "1";
}

.batteryMid:before {
	content: "2";
}

.batteryHigh:before {
	content: "3";
}

.batteryPower:before {
	content: "4";
}

.plus:before {
	content: "5";
}

.times:before {
	content: "6";
}

.next:before {
	content: "7";
}

.previous:before {
	content: "8";
}

.edit:before {
	content: "9";
}

.cut:before {
	content: "'";
}

.anchor:before {
	content: "(";
}

.bookmark:before {
	content: ")";
}

.music:before {
	content: "*";
}

.puzzle:before {
	content: "+";
}

.archive:before {
	content: ",";
}

.mobile:before {
	content: "-";
}

.contrast:before {
	content: ".";
}

.brightness:before {
	content: "/";
}

.flag:before {
	content: "{";
}

.info:before {
	content: "|";
}

.unknown:before {
	content: "}";
}

.chat:before {
	content: "~";
}

.mail:before {
	content: "[";
}

.message:before {
	content: "\005C";
}

.delete:before {
	content: "]";
}

.backspace:before {
	content: "^";
}

.infinity:before {
	content: "_";
}

.key:before {
	content: "$";
}

.time:before {
	content: "%";
}

.grid:before {
	content: "\0022";
}

.list:before {
	content: "\0023";
}

.heart:before {
	content: ";";
}

.star:before {
	content: "=";
}

.back:before {
	content: "?";
}

.forward:before {
	content: "@";
}

.bold:before {
	content: "s";
}

@font-face {
	font-family: 'Typograms';
	src: url('fonts/typograms-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.typogram {
	font-family: "Typograms", sans-serif;
	-webkit-font-smoothing: antialiased;
	-o-transform: scale(1);
}

.typogram.bold:before {
	content: "\F000";
}

.typogram.italic:before {
	content: "\F001";
}

.typogram.underline:before {
	content: "\F002";
}

.typogram.orderedlist:before {
	content: "\F002";
}

@font-face {
	font-family: 'Typicons';
	src: url('fonts/typicons-regular-webfont.eot');
	src: url('fonts/typicons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/typicons-regular-webfont.woff') format('woff'), url('fonts/typicons-regular-webfont.ttf') format('truetype'), url('fonts/typicons-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	overflow: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'OpenSansRegular';
	font-size: 15px;
	line-height: 1.6em;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

p {
	margin-bottom: 1.6em;
}

b {
	font-family: 'OpenSansBold';
}

a.typicn {
	text-decoration: none;
	font-size: 24px;
	color: #000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.2em;
}

nav#dashboard {
	position: fixed;
	width: 100px;
	height: 100%;
	background: #111;
}

nav#dashboard ul#navigation {
	margin: 0;
	padding: 0;
}

nav#dashboard ul#navigation li {
	display: block;
}

nav#dashboard ul#navigation li a {
	display: block;
	width: 100px;
	height: 100px;
	font-family: 'Typicons';
	font-size: 48px;
	line-height: 112px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

nav#dashboard ul#navigation li a:hover {
	background: #0e92bb;
}

#container {
	position: relative;
	left: 100px;
	margin-right: 100px;
	bottom: 0;
	top: 0;
	right: 0;
}

.dashboard-section header {
	margin-bottom: 1.5em;
	padding: 1.5em 3em;
	border-bottom: 1px solid #f0f0f0;
}

.dashboard-section .content-wrap {
	padding: 1.5em 3em;
}

.dashboard-section .content-wrap .content.with-sidebar {
	float: left;
	width: 62%;
}

.dashboard-section .content-wrap .sidebar {
	float: left;
	width: 34%;
	margin-left: 4%;
}

.dashboard-section .content-wrap .sidebar .sidebar-inner {
	padding: 1.5em 3em;
}

.dashboard-section footer {
	margin-top: 1.5em;
	padding: 1.5em 3em;
	border-top: 1px solid #f0f0f0;
}

input[type="text"], 
textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #f0f0f0;
	padding: 1em;
	font-family: 'OpenSansRegular';
	font-size: 15px;
	line-height: 1.6em;
}

input[type="text"]:focus, 
textarea:focus {
	border: 1px solid #0e92bb;
	outline: none;
}

textarea {
	resize: vertical;
}

.editorial {
	border: 1px solid #f0f0f0;
}

.editorial.focused {
	border: 1px solid #0e92bb;
	outline: none;
}

.editorial .editorial-buttons {
	border-bottom: 1px solid #f0f0f0;
}

.editorial .editorial-buttons .button {
	display: inline-block;
	padding: 0.625em 0.625em;
	border-right: 1px solid #f0f0f0;
	font-size: 24px;
	line-height: 1em;
	-webkit-transition: background-color 100ms ease-in;
}

.editorial .editorial-buttons .button:hover, 
.editorial .editorial-buttons .button.active {
	background: #0e92bb;
	color: #fff;
}

.editorial .editorial-element {
	width: 100%;
	min-height: 10em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
}

.editorial .editorial-element:focus {
	outline: none;
}

table {
	width: 100%;
	border: 0;
}

table thead th {
	text-align: left;
	border: 1px solid #000;
}

table tbody td {
	border: 1px solid #000;
}

table.dashboard-table thead th {
	padding: 1em;
	font-size: 1.200em;
	border: 1px solid #f0f0f0;
}

table.dashboard-table tbody tr.selected {
	background: #0e92bb;
	color: #fff;
}

table.dashboard-table tbody tr.selected td {
	border: 1px solid #0e92bb;
}

table.dashboard-table tbody tr td {
	padding: 1.200em;
	border: 1px solid #f0f0f0;
}

table.dashboard-table tbody tr td.column-checkbox {
	display: none;
}

table.dashboard-table tbody tr td.column-edit {
	width: 48px;
	padding: 0;
}

table.dashboard-table tbody tr td.column-edit a {
	display: block;
	padding: 1em;
}

table.dashboard-table tbody tr td.column-edit a:hover {
	background: #0e92bb;
	color: #fff;
}

table.dashboard-table tbody tr td.column-id {
	width: 32px;
}

table.dashboard-table tbody tr td.column-created_at, 
table.dashboard-table tbody tr td.column-permalink {
	width: 15%;
}

.clear {
	font: 0/0 serif;
	zoom: 1;
}

.clear:before, 
.clear:after {
	display: block;
	overflow: hidden;
	height: 0;
	content: "\0020";
}

.clear:after {
	clear: both;
}

