@font-face {
	font-family: 'Typicons';
	src: url('fonts/typicons-regular-webfont.eot');
	src: url('fonts/typicons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/typicons-regular-webfont.woff') format('woff'), url('fonts/typicons-regular-webfont.ttf') format('truetype'), url('fonts/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.typicn {
	font-family: "Typicons", sans-serif;
	-webkit-font-smoothing: antialiased;
	-o-transform: scale(1);
}

.location:before {
	content: "A";
}

.phone:before {
	content: "B";
}

.home:before {
	content: "C";
}

.camera:before {
	content: "D";
}

.left:before {
	content: "E";
}

.right:before {
	content: "F";
}

.up:before {
	content: "G";
}

.down:before {
	content: "H";
}

.refresh:before {
	content: "I";
}

.sync:before {
	content: "J";
}

.loop:before {
	content: "K";
}

.repeat:before {
	content: "L";
}

.shuffle:before {
	content: "M";
}

.rss:before {
	content: "N";
}

.cog:before {
	content: "O";
}

.spanner:before {
	content: "P";
}

.barChart:before {
	content: "Q";
}

.pieChart:before {
	content: "R";
}

.lineChart:before {
	content: "S";
}

.views:before {
	content: "T";
}

.zoomIn:before {
	content: "V";
}

.zoomOut:before {
	content: "U";
}

.export:before {
	content: "W";
}

.user:before {
	content: "X";
}

.group:before {
	content: "Y";
}

.microphone:before {
	content: "Z";
}

.globe:before {
	content: "a";
}

.thumbsUp:before {
	content: "b";
}

.thumbsDown:before {
	content: "c";
}

.tag:before {
	content: "d";
}

.tab:before {
	content: "e";
}

.warning:before {
	content: "f";
}

.tick:before {
	content: "g";
}

.beta:before {
	content: "h";
}

.unlock:before {
	content: "i";
}

.lock:before {
	content: "j";
}

.eject:before {
	content: "k";
}

.move:before {
	content: "l";
}

.expand:before {
	content: "m";
}

.cancel:before {
	content: "n";
}

.power:before {
	content: "o";
}

.compass:before {
	content: "p";
}

.radar:before {
	content: "q";
}

.directions:before {
	content: "r";
}

.pin:before {
	content: "s";
}

.mute:before {
	content: "t";
}

.volume:before {
	content: "u";
}

.world:before {
	content: "v";
}

.write:before {
	content: "w";
}

.minus:before {
	content: "x";
}

.equals:before {
	content: "y";
}

.feed:before {
	content: "z";
}

.batteryNone:before {
	content: "0";
}

.batteryLow:before {
	content: "1";
}

.batteryMid:before {
	content: "2";
}

.batteryHigh:before {
	content: "3";
}

.batteryPower:before {
	content: "4";
}

.plus:before {
	content: "5";
}

.times:before {
	content: "6";
}

.next:before {
	content: "7";
}

.previous:before {
	content: "8";
}

.edit:before {
	content: "";
}

.cut:before {
	content: "'";
}

.anchor:before {
	content: "(";
}

.bookmark:before {
	content: ")";
}

.music:before {
	content: "*";
}

.puzzle:before {
	content: "+";
}

.archive:before {
	content: ",";
}

.mobile:before {
	content: "-";
}

.contrast:before {
	content: ".";
}

.brightness:before {
	content: "/";
}

.flag:before {
	content: "{";
}

.info:before {
	content: "|";
}

.unknown:before {
	content: "}";
}

.chat:before {
	content: "~";
}

.mail:before {
	content: "[";
}

.message:before {
	content: "\005C";
}

.delete:before {
	content: "6";
}

.backspace:before {
	content: "^";
}

.infinity:before {
	content: "_";
}

.key:before {
	content: "$";
}

.time:before {
	content: "%";
}

.grid:before {
	content: "\0022";
}

.list:before {
	content: "\0023";
}

.heart:before {
	content: ";";
}

.star:before {
	content: "=";
}

.back:before {
	content: "?";
}

.forward:before {
	content: "@";
}

.bold:before {
	content: "s";
}

@font-face {
	font-family: 'Typograms';
	src: url('fonts/typograms-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.typogram {
	font-family: "Typograms", sans-serif;
	-webkit-font-smoothing: antialiased;
	-o-transform: scale(1);
}

.typogram.bold:before {
	content: "\F000";
}

.typogram.italic:before {
	content: "\F001";
}

.typogram.underline:before {
	content: "\F002";
}

.typogram.orderedlist:before {
	content: "\F002";
}

.qq-uploader {
	position: relative;
	width: 100%;
}

.qq-upload-button {
	display: block;
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;
}

.qq-upload-button-hover {
	background: #CC0000;
}

.qq-upload-button-focus {
	outline: 1px dotted #000000;
}

.qq-upload-drop-area, 
.qq-upload-extra-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 30px;
	z-index: 2;
	background: #FF9797;
	text-align: center;
}

.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
}

.qq-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}

.qq-upload-drop-area-active {
	background: #FF7171;
}

.qq-upload-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.qq-upload-list li {
	margin: 0;
	padding: 9px;
	line-height: 15px;
	font-size: 16px;
	background-color: #FFF0BD;
}

.qq-upload-file, 
.qq-upload-spinner, 
.qq-upload-size, 
.qq-upload-cancel, 
.qq-upload-failed-text {
	margin-right: 12px;
}

.qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}

.qq-upload-size, 
.qq-upload-cancel {
	font-size: 12px;
	font-weight: normal;
}

.qq-upload-failed-text {
	display: none;
}

.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

.qq-upload-list li.qq-upload-success {
	background-color: #5DA30C;
	color: #FFFFFF;
}

.qq-upload-list li.qq-upload-fail {
	background-color: #D60000;
	color: #FFFFFF;
}

@font-face {
	font-family: 'Typicons';
	src: url('fonts/typicons-regular-webfont.eot');
	src: url('fonts/typicons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/typicons-regular-webfont.woff') format('woff'), url('fonts/typicons-regular-webfont.ttf') format('truetype'), url('fonts/typicons-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: 'Typograms';
		src: url('fonts/typograms-webfont.svg') format('svg');
	}

}

html {
	overflow: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'OpenSans';
	font-size: 16px;
	line-height: 1.6em;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

p {
	margin-bottom: 1.6em;
}

b {
	font-family: 'OpenSans';
}

a.typicn {
	text-decoration: none;
	font-size: 24px;
	color: #000;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 0.600em 1.200em;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #f0f0f0;
	background: #fff;
	-webkit-transition: all 2s ease-in;
}

.btn.blue {
	color: #fff;
	background: #0e92bb;
	border: 1px solid #0e92bb;
}

.btn.split {
	margin-right: 2.8em;
}

.btn.handle {
	position: absolute;
	width: 2.8em;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.btn-group {
	position: relative;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.2em;
}

nav#dashboard {
	position: fixed;
	width: 100px;
	height: 100%;
	background: #000;
}

nav#dashboard ul#navigation {
	margin: 0;
	padding: 0;
}

nav#dashboard ul#navigation li {
	display: block;
}

nav#dashboard ul#navigation li a {
	display: block;
	width: 100px;
	height: 100px;
	font-family: 'Typicons';
	font-size: 48px;
	line-height: 112px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

nav#dashboard ul#navigation li a:hover {
	background: #0e92bb;
}

#container {
	position: relative;
	left: 100px;
	margin-right: 100px;
	bottom: 0;
	top: 0;
	right: 0;
}

.dashboard-section header {
	padding: 1.5em 3em;
	border-bottom: 1px solid #f0f0f0;
}

.dashboard-section header p {
	margin-bottom: 1em;
}

.dashboard-section #content-wrap {
	padding: 1.5em 3em;
}

.dashboard-section #content-wrap .content.with-sidebar {
	float: left;
	width: 62%;
}

.dashboard-section #content-wrap .sidebar {
	float: left;
	width: 34%;
	margin-left: 4%;
}

.dashboard-section #content-wrap .sidebar .sidebar-inner {
	padding: 1.5em 3em;
}

.dashboard-section footer {
	margin-top: 1.5em;
	padding: 1.5em 3em;
	border-top: 1px solid #f0f0f0;
}

input[type="text"], 
textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #f0f0f0;
	padding: 1em;
	font-family: 'OpenSans';
	font-size: 15px;
	line-height: 1.6em;
}

input[type="text"]:focus, 
textarea:focus {
	border: 1px solid #0e92bb;
	outline: none;
}

textarea {
	resize: vertical;
}

.jupinput-container.jupinput-checkbox {
	display: block;
	width: 22px;
	height: 22px;
	border: 1px solid #f0f0f0;
	text-align: center;
}

.jupinput-container.jupinput-checkbox.checked {
	color: #0e92bb;
}

.jupinput-container.jupinput-checkbox.checked .jupinput-checkbox-checked {
	display: block;
}

.jupinput-container.jupinput-checkbox.checked .jupinput-checkbox-unchecked {
	display: none;
}

.jupinput-container.jupinput-checkbox .jupinput-checkbox-checked {
	display: none;
}

.jupinput-container.jupinput-checkbox .jupinput-checkbox-unchecked {
	display: block;
}

.jupinput-container .jupinput-select-toggle-value {
	width: 10em;
}

.jupinput-container ul.jupinput-select-options {
	position: absolute;
	z-index: 99;
	display: none;
	width: 15.2em;
	margin: 0;
	padding: 0;
	background: #fff;
	border: 1px solid #f0f0f0;
	border-top: 0;
}

.jupinput-container ul.jupinput-select-options.opened {
	display: block;
}

.jupinput-container ul.jupinput-select-options li {
	padding: 0.600em 1.200em;
	list-style: none;
}

.editorial {
	border: 1px solid #f0f0f0;
}

.editorial.focused {
	border: 1px solid #0e92bb;
	outline: none;
}

.editorial .editorial-buttons {
	border-bottom: 1px solid #f0f0f0;
}

.editorial .editorial-buttons .button {
	display: inline-block;
	padding: 0.625em 1em;
	border-right: 1px solid #f0f0f0;
}

.editorial .editorial-buttons .button:hover, 
.editorial .editorial-buttons .button.active {
	background: #0e92bb;
	border-color: #0e92bb;
	color: #fff;
}

.editorial .editorial-element {
	width: 100%;
	min-height: 10em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
}

.editorial .editorial-element:focus {
	outline: none;
}

.dashboard-table .dashboard-table-actions {
	margin-bottom: 1.6em;
}

.dashboard-table .dashboard-table-actions > ul {
	padding: 0;
	margin: 0;
	overflow: auto;
}

.dashboard-table .dashboard-table-actions > ul > li {
	float: left;
	margin-left: 1em;
	list-style: none;
}

.dashboard-table .dashboard-table-actions > ul > li:first-child {
	margin-left: 0;
}

.dashboard-table .dashboard-table-actions input {
	display: none;
}

.dashboard-table table.dashboard-table-data thead th {
	padding: 1em;
	font-size: 1.200em;
	border: 1px solid #f0f0f0;
}

.dashboard-table table.dashboard-table-data tbody tr.selected {
	background: #f6f6f6;
}

.dashboard-table table.dashboard-table-data tbody tr a {
	color: #000;
	text-decoration: none;
}

.dashboard-table table.dashboard-table-data tbody tr td {
	height: 100%;
	padding: 1.200em;
	border: 1px solid #f0f0f0;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-checkbox {
	width: 24px;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-id {
	width: 32px;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-created_at, 
.dashboard-table table.dashboard-table-data tbody tr td.column-permalink {
	width: 15%;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-edit {
	top: 0;
	padding: 0;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-edit > div {
	position: relative;
	width: 100%;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-edit a.edit {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 1.200em;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-edit a.delete {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 0.750em;
	border-left: 1px solid #f0f0f0;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-edit a.delete:hover {
	background: #bb0e0e;
	color: #fff;
}

.dashboard-table table.dashboard-table-data tbody tr td.column-edit:hover a.delete {
	opacity: 1;
}

table {
	width: 100%;
	border: 0;
}

table thead th {
	text-align: left;
	border: 1px solid #000;
}

table tbody td {
	border: 1px solid #000;
}

.clear {
	font: 0/0 serif;
	zoom: 1;
}

.clear:before, 
.clear:after {
	display: block;
	overflow: hidden;
	height: 0;
	content: "\0020";
}

.clear:after {
	clear: both;
}

