{% if xhr != true %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{document.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {{ 'css/normalize.css' | style_url | style_tag }}
    {{ 'css/main.css' | style_url | style_tag }}
    {{ 'http://code.jquery.com/jquery-1.9.1.min.js' | script_tag }}
    {{ 'js/plugins.js' | script_url | script_tag }}
    {{ 'js/vendor/jquery.ajaxloader.js' | script_url | script_tag }}
    {{ 'js/vendor/jquery.pjax.js' | script_url | script_tag }}
    {{ 'js/vendor/jquery.increditable.js' | script_url | script_tag }}
    {{ 'js/vendor/jquery.jupinputs.js' | script_url | script_tag }}
    {{ 'js/vendor/jquery.editorial.js' | script_url | script_tag }}
    {{ 'js/vendor/jquery.fileupload.js' | script_url | script_tag }}
    {{ jsVariables }}
    {{ 'js/main.js' | script_url | script_tag }}
</head>
<body>
	
	<!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <nav id="dashboard">
        <ul id="navigation">
            <li><a class="loader-link" href="{{ 'dashboard-index' | urlFor }}">C</a></li>
            <li><a class="loader-link" href="{{ 'dashboard-pages' | urlFor }}">w</a></li>
            <li><a class="loader-link" href="{{ 'dashboard-products' | urlFor }}">d</a></li>
            <li><a class="loader-link" href="{{ 'dashboard-orders' | urlFor }}">[</a></li>
            <li><a class="loader-link" href="{{ 'dashboard-options' | urlFor }}">P</a></li>
        <ul>
    </nav>

	<div id="container">
        <section id="pages" class="dashboard-section">
            <div class="clear"></div>
            <header>
                <p>{{ 'Logged in as: ' | translate }}<strong>{{ user.username }}</strong></p>
            </header>
            <div id="content-wrap">
{% endif %}

                {% block content %}{% endblock %}

{% if xhr != true %}
            </div>
            <footer>
                <small>
                    <p>Copyright 2013 Martin Šnajdr</p>
                </small>
            </footer>
        </section>
    </div>
    {{document.scripts.footer}}
</body>
</html>
{% endif %}