<table class="dashboard-table sortable">
	<thead>
		<tr>
			{% for column in sortable_columns %}
			{% if column.sort %}
			<th data-sort="{{ column.sort }}" class="column-{{column.name}} column-sortable">{{ column.title | translate }}</th>
			{% else %}
			<th class="column-{{column.name}}">{{ column.title | translate }}</th>
			{% endif %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for item in sortable_collection %}
		<tr>
			<td class="column-checkbox"><input class="item-checkbox" type="checkbox" name="item[]" value="{{ item.id }}" /></td>
			{% for column in sortable_columns %}
			{% if column.format == 'date' %}
			<td class="column-{{column.name}}">{{ item | key: column.name | date: "%d.%m.%Y" }}</td>
			{% else %}
			<td class="column-{{column.name}}">{{ item | key: column.name }}</td>
			{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>